#header-root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    background-color: transparent;
}

hr {
    width: 80%;
    height: 10px;
    border: none;
    background: linear-gradient(to right, transparent, black, transparent);
}
